.profile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #F6F7FA;
    min-height: 100vh;
}

.user-info {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #FFFFFF;
    max-width: 1000px;
    width: 100%;
}

.progress-content {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #FFFFFF;
    max-width: 1000px;
    width: 100%;
}

.heading {
    height: 20px;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 12px;
    color: #2463A9;
    margin-top: 20px;
    border-radius: 15px;
}
.task-goal-list {
    background-color: #FFFFFF;
    padding: 16px;
    border-radius: 10px;
    max-width: 1000px;
}

.goal-item {
    width: 100%;
    font-size: 1.1rem;
    color: #000000;
    margin-bottom: 8px;
    background-color: #F9FAFC;
    padding: 10px 20px;
    border-radius: 20px;
    text-align: left;
}

.task-item {
    width: 100%;
    font-size: 1.1rem;
    color: #000000;
    margin-bottom: 8px;
    background-color: #F9FAFC;
    padding: 10px 20px;
    border-radius: 20px;
    text-align: left;
}

.task-list {
    list-style: none;   /* removes bullet points */
    padding: 0;
    margin: 0;
}

/*.tabs {*/
/*    display: flex;*/
/*    gap: 10px;*/
/*    margin-bottom: 12px;*/
/*}*/

/*.tabs button {*/
/*    flex: 1;*/
/*    padding: 8px 12px;*/
/*    background-color: #e5e5e5;*/
/*    border: none;*/
/*    border-radius: 6px;*/
/*    cursor: pointer;*/
/*    font-weight: bold;*/
/*    transition: background-color 0.2s ease;*/
/*}*/

/*.tabs button:hover {*/
/*    background-color: #d0d0d0;*/
/*}*/

/*.tabs button.active {*/
/*    background-color: #2463A9;*/
/*    color: white;*/
/*}*/


/*.task-goal-list ul {*/
/*    list-style: none;*/
/*    padding: 0;*/
/*    margin: 0;*/
/*}*/

/*.task-goal-list li {*/
/*    padding: 10px 12px;*/
/*    margin-bottom: 8px;*/
/*    background-color: #ffffff;*/
/*    border-radius: 6px;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    box-shadow: 0 1px 3px rgba(0,0,0,0.1);*/
/*    font-size: 1rem;*/
/*}*/


/*.task-goal-list li span {*/
/*    font-size: 0.8rem;*/
/*    color: #666666;*/
/*    font-style: italic;*/
/*}*/