.task-goal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*padding: 200px;*/
    font-family: Malayalam Sangam MN, sans-serif;
    background-color: #FFFFFF;
    /*min-height: 100vh;*/
    border-radius: 10px;
    border: 1px solid #E5E5E5;
}

.calendar-styling {
    font-family: Malayalam Sangam MN, sans-serif;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #FFFFFF;
    width: 600px;
    max-width: 1000px;
}
.h2 {
    font-family: Malayalam Sangam MN, sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
    color: #000000;
}
.add-task-text {
    font-family: Malayalam Sangam MN, sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
    color: #2463A9;
}

/*.add-section {*/
/*    background-color: #F9FAFC;*/
/*    border-radius: 20px;*/
/*}*/

.input-field {
    width: 300px;
    height: 30px;
    padding: 0px 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
}


.add-section, .add-goal-section {
    display: flex;           /* put input + button in a row */
    align-items: center;     /* vertical alignment */
    gap: 5px;               /* space between input and button */
}

.input-field, .input-field2, .input-field3 {
    flex: 1;                 /* input grows to fill remaining space */
    height: 40px;            /* same height as button */
    border-radius: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.plus-button {
    width: 35px;
    height: 35px;
    border-radius: 50%;       /* perfect circle */
    background-color: #2463A9;
    color: white;
    font-size: 24px;
    border: none;
    cursor: pointer;

    display: flex;            /* center + inside */
    align-items: center;      /* vertical center */
    justify-content: center;  /* horizontal center */

    padding: 0 !important;    /* remove default padding */
    box-sizing: border-box;
}
.checkbox {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 20px;
}

h4 {
    font-family: Malayalam Sangam MN, sans-serif;
    font-size: 18px;
    margin: 10px 0;
    color: #000000;
}


hr {
    border: none;           /* remove default border */
    height: 2px;            /* thickness of the line */
    background-color: #000000; /* color of the line */
    margin: 20px 0;         /* space above and below */
}


.input-field2 {
    width: 250px;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
}

.input-field3 {
    width: 125px;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
}