.weeklyCalendar {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.week-row {
    display: flex;
    gap: 10px;
}

.day-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background: #F1F5FB;
    border-radius: 10px;
    font-size: 25px;
    color: black;
    cursor: pointer;
    transition: all 0.2s ease;
    text-align: center;
}

.day-box:hover {
    background: #EDEDED;
    /*grey color*/
}

.day-box.today {
    border: 2px solid #EDEDED;
    background: #2463A9;
}

