.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: 'Noto Serif JP', serif;
    background-color: #f9f9f9;
    min-height: 100vh;
}

.profile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #F9F9FC;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
}

.user-info h2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1500px;
    font-family: 'Noto Serif JP', serif;
    font-size: 28px;
    color: #203648;
    margin-bottom: 10px;
    text-align: left;
}

.email {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    font-family: 'Malayalam Sangam MN', sans-serif;
    font-size: 18px;
    color: #203648;
}

.total-goals {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    max-width: 1200px;
    height: auto;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #ccc;
}

.current-goal h1{
    font-family: 'Noto Serif JP', serif;
    font-size: 30px;
    color: #2463A9;
    margin-bottom: 5px;
}

.goal-list-container {
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
}

.goal-list {
    display: flex;
    align-items: center;
    font-family: Malayalam Sangam MN, sans-serif;
    font-size: 18px;
    padding: 5px;
    gap: 10px;
    margin-bottom: 15px;
    text-align: left;
}

.current-and-past-divider {
    width: 100%;
    max-width: 700px;
    height: 2px;
    background-color: #CBCBCB;
    margin: 20px 0;
    border-radius: 10px;
    border: none;
}


.past-goal h2{
    font-family: 'Noto Serif JP', serif;
    font-size: 30px;
    color: #2463A9;
    margin-bottom: 5px;
}





