.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: 'Noto Serif JP', serif;
    background-color: #f9f9f9;
    min-height: 100vh;
}

.user-info {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.total-goals {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    max-width: 1200px;
    height: auto;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #ccc;
}

.current-goal h1{
    font-family: 'Noto Serif JP', serif;
    font-size: 36px;
    color: #203648;
    margin-bottom: 10px;
}

.goal-list-container {
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
}

.goal-list {
    display: flex;
    align-items: center;
    font-family: Malayalam Sangam MN, sans-serif;
    font-size: 18px;
    padding: 5px;
    gap: 10px;
    margin-bottom: 15px;
    text-align: left;
}




