.chat-section {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    height: 250px;
    border-radius: 15px;
    overflow: hidden;
    background-color: #91CFCE;
    align-content: baseline;
    place-content: end;
    border: 1px solid #E5E5E5;
}


.chat-with-assistant {
    font-family: Malayalam Sangam MN, sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
    color: #203648;
}

#responseTextID {
    overflow-y: auto;
    height: 345px;
    padding: 10px;
    color: #2463A9;
    white-space: pre-wrap;
    text-align: left;
}

.input-message {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;

    .chat-input {
        display: flex;
        background-color: #FFFFFF;
        border-radius: 20px;
        border: 1px solid #E5E5E5;
        height: 35px;
        width: 320px;
        padding: 0px 10px;
    }

    .send-button {
        width: 60px;
        height: 35px;
        background-color: #91CFCE;
        border: none;
        border-radius: 20px;
        color: #2463A9;
        cursor: pointer;
        display: flex;
        align-content: center;
        justify-content: center;
    }
}
