.chat-section {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #72BFB8;
    align-content: baseline;
    place-content: end;
    border: 1px solid #E5E5E5;
}


.chat-with-assistant {
    font-family: Malayalam Sangam MN, sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
    color: #000000;
}

#responseTextID {
    overflow-y: auto;
    height: 345px;
    padding: 10px;
    color: #2463A9;
    white-space: pre-wrap;
    text-align: left;
}

.input-message {
    display: flex; /* put input + button on one line */
    align-items: center; /* vertically align */
    gap: 10px; /* space between input and button */
    width: 100%;

    .chat-input {
        display: flex;
        background-color: #FFFFFF;
        border-radius: 20px;
        border: 1px solid #E5E5E5;
        height: 35px;
        width: 320px;
        padding: 0px 10px;
    }

    .send-button {
        width: 60px;
        height: 35px;
        background-color: #72BFB8;
        border: none;
        border-radius: 20px;
        color: #2463A9;
        cursor: pointer;
        display: flex;
        align-content: center;
        justify-content: center;
    }
}

/*.chat-container {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    max-width: 400px;*/
/*    height: 500px;*/
/*    border: 1px solid #ccc;*/
/*    border-radius: 10px;*/
/*    overflow: hidden;*/
/*    background-color: #72BFB8;*/
/*}*/

/*.chat {*/
/*    flex: 1;*/
/*    padding: 10px;*/
/*    overflow-y: auto;*/
/*    background-color: #f5f5f5;*/
/*}*/

/*.user-msg {*/
/*    text-align: right;*/
/*    background-color: #2463A9;*/
/*    color: white;*/
/*    padding: 6px 10px;*/
/*    border-radius: 8px;*/
/*    margin-bottom: 6px;*/
/*    max-width: 80%;*/
/*}*/

/*.ai-msg {*/
/*    text-align: left;*/
/*    background-color: #e5e5e5;*/
/*    color: black;*/
/*    padding: 6px 10px;*/
/*    border-radius: 8px;*/
/*    margin-bottom: 6px;*/
/*    max-width: 80%;*/
/*}*/

/*.input-area {*/
/*    display: flex;*/
/*    border-top: 1px solid #ccc;*/
/*}*/

/*.input-area input {*/
/*    flex: 1;*/
/*    padding: 8px;*/
/*    border: none;*/
/*    outline: none;*/
/*}*/

/*.input-area button {*/
/*    padding: 8px 16px;*/
/*    background-color: #2463A9;*/
/*    color: white;*/
/*    border: none;*/
/*    cursor: pointer;*/
/*}*/

/*.input-area button:hover {*/
/*    background-color: #1b4d7a;*/
/*}*/
