.navbar {
    width: 100%;
    max-width: 1452px;
    height: 70px;
    display: flex;
    background-color: #FFFFFF;
    border-bottom: 2px solid #E5E5E5;
    padding: 0px 30px;
    align-items: center;
}


.navbar-brand {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 30px;
    line-height: 1;          /* remove extra text line space */
    margin: 0;
    font-weight: bold;
    color: #2463A9;
}

.navbar-links {
    display: flex;
    align-items: center;
    gap: 1.5rem;      /* space between links */
    margin-left: auto;/* pushes links to the right */
    font-size: 20px;
    color: #2463A9;
}

.navbar-menu {
    font-family: 'Malayalam Sangam MN', sans-serif;
    display: flex;
    gap: 15px;
    align-items: center;
    margin-left: auto;   /* <-- pushes menu to the right */
}

.home-button {
    padding: 6px 12px;
    background-color: #ffffff;
    color: #203648;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.home-button:hover {
    color: #1b4d7a;
}

.profile-button {
    padding: 6px 12px;
    background-color: #ffffff;
    color: #203648 ;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.profile-button:hover {
    color: #1b4d7a;
}

.log-out-button {
    padding: 6px 12px;
    background-color: #ffffff;
    color: #2463A9;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.log-out-button:hover {
    color: #1b4d7a;
}



@media (max-width: 900px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 20px;
    }

    .navbar-links {
        flex-direction: column;
        gap: 0.8rem;
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
    }

    .navbar-links button {
        width: 100%;
        text-align: left;
    }
}
