.navbar {
    width: 100%;
    height: 60px;
    display: flex;
    background-color: #FFFFFF;
    border: 2px solid #E5E5E5;
    padding: 10px 20px
}

.navbar-brand {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #2463A9;
}

.navbar-links {
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: #2463A9;
}



/*!* logo *!*/
/*.navbar-brand a {*/
/*    font-family: 'Julius Sans One', sans-serif;*/
/*    font-size: 30px;*/
/*    font-weight: bold;*/
/*    color: #2463A9;*/
/*}*/

/* Menu container */
.navbar-menu {
    font-family: 'Malayalam Sangam MN', sans-serif;
    display: flex;
    gap: 15px;
    align-items: center;
}

.navbar-item {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    padding: 6px 12px;
    border-radius: 4px;
    transition: background-color 0.2s ease;
}

.navbar-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.navbar-button {
    padding: 6px 12px;
    background-color: #ffffff;
    color: #2463A9;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.navbar-button:hover {
    background-color: #e5e5e5;
    color: #1b4d7a;
}