.home {
    width: 100%;
    min-height: 100vh;
    background-color: #F0F2F5;
    display: flex;
    flex-direction: column;
}

/* main container for tasks + chat */
.home-main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    padding: 2rem;
    box-sizing: border-box;
}


.tasks-section {
    width: 800px;
    background-color: #FFFFFF;
    border-radius: 20px;
    /*padding: 1rem;*/
}

.chat-section {
    width: 600px;
    background-color: #F9F9F9;
    border: 2px solid #E5E5E5;
    border-radius: 8px;
    padding: 1rem;
    height: 500px;
    overflow-y: auto;
}


@media (max-width: 900px) {
    .home-main {
        flex-direction: column;
        align-items: center;
    }

    .tasks-section,
    .chat-section {
        width: 100%;
        max-width: 600px;
    }
}